.navbar-menu,
.navbar-submenu,
.navbar-submenu-details {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
}

.navbar-menu {
	gap: 8px;
}

.navbar-menu > li {
	font: var(--body1-bold);
	display: inherit;
	flex-direction: inherit;
	gap: 8px;
}

.navbar-menu li a {
	background: white;
	padding-block-end: 12px;
	padding-block-start: 12px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: var(--black);
}

.navbar-submenu > li {
	font: var(--body1-regular);
}

.navbar-submenu li a {
	text-align: left;
	padding-inline-end: 24px;
	padding-inline-start: 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar-submenu,
.navbar-submenu-details {
	display: none;
}

.navbar-submenu {
	border: 4px solid var(--black);
}

.navbar-menu li:hover > .navbar-submenu,
.navbar-submenu li:hover > .navbar-submenu-details {
	display: inherit;
}

.navbar-submenu li:hover > a {
	background: var(--black);
	color: var(--white);
}

.navbar-submenu-details li a {
	padding-inline-start: 42px;
}
